body {
  font-size: .875rem;
}

/*
 * Sidebar
 */
$nav-link-color: #333;
$nav-link-active-color: #007bff;

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  font-size: 1rem;

  .sub-menu {
    padding-left: 20px;

    .nav-link {
      &:hover {
        color: $nav-link-active-color;
      }
    }
  }

  .nav-link {
    font-weight: 500;
    color: $nav-link-color;

    .menu-icon {
      color: lighten($nav-link-color, 25%);
    }

    .menu-arrow {
      position: absolute;
      right: 10px;

      &.rotate {
        transform: rotate(90deg);
      }
    }

    &:hover {
      .menu-icon {
        color: $nav-link-color;
      }
    }
  }

  .nav-item.active {
    & > .nav-link {
      &,
      .menu-icon {
        color: $nav-link-active-color;
      }
    }
  }
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.navbar {
  .dropdown-submenu {
    position: relative;

    .menu-caret {
      margin-left: 10px;

      &::before {
        position: absolute;
      }
    }

    &>.dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;
    }

    &:hover {
      &>.dropdown-menu {
        display: block;
      }
    }
  }
}

/*
 * Footer
 */
footer {
  &.footer-sticky {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
